<div class="container mt-5">
  <div id="accordion">

      <!-- Pregunta 1 -->
      <div class="card">
          <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  1. ¿Qué es RespeTonic?
              </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                RespeTonic es una iniciativa única que combina valores familiares con bienestar emocional, ofreciendo soluciones para fortalecer y curar las relaciones familiares a través de "medicamentos emocionales".
              </div>
          </div>
      </div>

      <!-- Pregunta 2 -->
      <div class="card">
          <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                  2. ¿Cómo funcionan los "medicamentos emocionales"?
              </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Los "medicamentos emocionales" son herramientas simbólicas que sirven como recordatorios y guías para fomentar comportamientos positivos en las relaciones, como el respeto, el amor y la comunicación efectiva. No son medicamentos reales, sino representaciones de acciones y actitudes que nutren las relaciones.
              </div>
          </div>
      </div>

      <!-- Pregunta 3 -->
      <div class="card">
          <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseThree">
                  3. ¿Para quiénes están diseñados los productos de RespeTonic?
              </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Nuestros productos están diseñados para todas las familias, independientemente de su tamaño o estructura. Tanto para padres como para hijos, abuelos, tutores y cualquier persona interesada en mejorar y fortalecer sus lazos familiares.
              </div>
          </div>
      </div>

      <!-- Pregunta 4 -->
      <div class="card">
          <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFour">
                  4. ¿Hay algún costo asociado con RespeTonic?
              </a>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Si bien muchos de nuestros recursos y consejos son gratuitos, ofrecemos algunos productos y servicios especializados que pueden tener un costo. Puedes visitar nuestra tienda en línea o contactarnos directamente para más detalles.
              </div>
          </div>
      </div>

      <!-- Pregunta 5 -->
      <div class="card">
          <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFive">
                  5. ¿Puedo contribuir o colaborar con RespeTonic?
              </a>
          </div>
          <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                ¡Absolutamente! Siempre estamos buscando colaboraciones y asociaciones que ayuden a ampliar nuestro impacto. Por favor, visita la sección de "Contacto" para ponerte en comunicación con nosotros.
              </div>
          </div>
      </div>

      <!-- Pregunta 6 -->
      <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseSix">
                6. ¿Ofrecen talleres o eventos presenciales?
            </a>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Sí, regularmente organizamos talleres, seminarios y eventos destinados a fortalecer las relaciones familiares. Puedes encontrar más información y fechas en nuestro apartado de "Eventos y Talleres".
            </div>
        </div>
    </div>

    <!-- Pregunta 7 -->
    <div class="card">
      <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseSeven">
              7. Tengo una pregunta específica que no está aquí, ¿cómo puedo contactarlos?
          </a>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Si tienes alguna pregunta o inquietud que no esté cubierta aquí, te invitamos a visitar nuestra sección de "Contacto" donde encontrarás diferentes formas de comunicarte con nosotros. Estaremos encantados de ayudarte.
          </div>
      </div>
  </div>

  <!-- Pregunta 8 -->
  <div class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseEight">
            8. ¿Cómo se eligen los componentes de los "medicamentos emocionales"?
        </a>
    </div>
    <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Cada "medicamento emocional" se crea basándose en valores y actitudes esenciales para fortalecer las relaciones familiares. Son fruto de investigaciones, experiencias y la sabiduría compartida por expertos en relaciones familiares y bienestar emocional.
        </div>
    </div>
</div>

<!-- Pregunta 9 -->
<div class="card">
  <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseNine">
          9. ¿Puedo usar RespeTonic como una herramienta de terapia?
      </a>
  </div>
  <div id="collapseNine" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Mientras que RespeTonic ofrece herramientas para mejorar la comunicación y el respeto en el hogar, no sustituye la terapia profesional. Si sientes que tu familia podría beneficiarse de la terapia, te recomendamos buscar a un profesional licenciado.
      </div>
  </div>
</div>

<!-- Pregunta 10 -->
<div class="card">
  <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseTen">
          10. ¿Es RespeTonic adecuado para todas las edades?
      </a>
  </div>
  <div id="collapseTen" class="collapse" data-parent="#accordion">
      <div class="card-body">
        ¡Sí! RespeTonic está diseñado para ser universal. Tanto jóvenes como adultos pueden encontrar valor en nuestras herramientas y recursos, y cada "medicamento emocional" se presenta de una manera que es accesible y comprensible para todas las edades.
      </div>
  </div>
</div>

<!-- Pregunta 11 -->
<div class="card">
  <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseEleven">
          11. ¿Qué diferencia a RespeTonic de otros recursos de bienestar familiar?
      </a>
  </div>
  <div id="collapseEleven" class="collapse" data-parent="#accordion">
      <div class="card-body">
        RespeTonic es único en su enfoque simbólico y lúdico para abordar los desafíos familiares. A través de "medicamentos emocionales", transformamos conceptos abstractos como el "respeto" y la "comunicación" en acciones tangibles que las familias pueden incorporar fácilmente en su vida diaria.
      </div>
  </div>
</div>

<!-- Pregunta 12 -->
<div class="card">
  <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseTwelve">
          12. ¿Tienen recursos adicionales para profundizar en algunos temas?
      </a>
  </div>
  <div id="collapseTwelve" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Sí, contamos con un Blog/Recursos donde regularmente publicamos artículos, consejos y otros recursos relacionados con el fortalecimiento de las relaciones familiares. Te animamos a visitarlo y a suscribirte a nuestro boletín para estar al día.
      </div>
  </div>
</div>

<!-- Pregunta 13 -->
<div class="card">
  <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseThirteen">
          13. He tenido una experiencia positiva con RespeTonic. ¿Cómo puedo compartir mi testimonio?
      </a>
  </div>
  <div id="collapseThirteen" class="collapse" data-parent="#accordion">
      <div class="card-body">
        ¡Nos encantaría escuchar tu experiencia! Puedes compartir tu testimonio con nosotros a través de la sección de "Contacto" o enviándonos un mensaje directo en nuestras redes sociales. Tu historia puede inspirar y ayudar a otras familias.
      </div>
  </div>
</div>

<!-- Pregunta 14 -->
<div class="card">
  <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseFouteen">
          14. ¿Realizan envíos internacionales de sus productos?
      </a>
  </div>
  <div id="collapseFouteen" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Actualmente, ofrecemos envíos en [país/área de operación principal]. Estamos trabajando para expandir nuestra cobertura de envío. Si estás fuera de nuestra área de entrega actual, contáctanos directamente y haremos nuestro mejor esfuerzo para atenderte.
      </div>
  </div>
</div>

  </div>
</div>
