
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a [routerLink]="['/medical-view', 1]">
          <img src="assets/images/botica/abrazofeno.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">ABRAZOFENO</a></h3>
        <p class="price"><del>-5 de orgullo</del> &mdash; +2 de madurez</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <a [routerLink]="['/medical-view', 2]">
          <img src="assets/images/botica/tolerol.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">TOLEROL</a></h3>
        <p class="price"><del>-5 de ego</del> &mdash; +5 de paz interior</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <a href="shop-single.html">
          <img src="assets/images/botica/ecuani.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">ECUANIMEDIPINO</a></h3>
        <p class="price"><del>-5 de impulsividad</del> &mdash; +4 de comunicación efectiva</p>
      </div>

      <div class="col-sm-6 col-lg-4 text-center item mb-4">

        <a href="shop-single.html">
          <img src="assets/images/botica/comunicatex.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">COMUNICATEX</a></h3>
        <p class="price"><del>-4 de suposiciones</del> &mdash; +5 de cercanía emocional</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <a href="shop-single.html">
          <img src="assets/images/botica/dialogadol.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">DIALOGADOL</a></h3>
        <p class="price"><del>-4 de resistencia</del> &mdash; +6 de relaciones fortalecidas</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a href="shop-single.html">
          <img src="assets/images/botica/empatiag.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">EMPATIA-G</a></h3>
        <p class="price"><del>-4 de juicios rápidos</del> &mdash; +7 de conexión humana</p>
      </div>

      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a href="shop-single.html">
          <img src="assets/images/botica/Resci.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a href="shop-single.html">RESILICINCIA-PIRINA</a></h3>
        <p class="price"><del>-6 de miedo</del> &mdash; +5 de fortaleza</p>
      </div>
  </div>
</div>


<div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
          <div class="banner-1-inner align-self-center">
            <h2>Pharma Products</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
          <div class="banner-1-inner ml-auto  align-self-center">
            <h2>Rated by Experts</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
