
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a [routerLink]="['/medical-view', 1]">
          <img src="assets/images/botica/abrazofeno.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark">ABRAZOFENO</h3>
        <p class="price"><del>-5 de orgullo</del> &mdash; +2 de madurez</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <a [routerLink]="['/medical-view', 2]">
          <img src="assets/images/botica/tolerol.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark">TOLEROL</h3>
        <p class="price"><del>-5 de ego</del> &mdash; +5 de paz interior</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <a [routerLink]="['/medical-view', 4]">
          <img src="assets/images/botica/ecuani.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark">ECUANIMEDIPINO</h3>
        <p class="price"><del>-5 de impulsividad</del> &mdash; +4 de comunicación efectiva</p>
      </div>

      <div class="col-sm-6 col-lg-4 text-center item mb-4">

        <a [routerLink]="['/medical-view', 5]">
          <img src="assets/images/botica/comunicatex.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark">
          <a [routerLink]="['/medical-view', 5]">COMUNICATEX</a>
        </h3>
        <p class="price"><del>-4 de suposiciones</del> &mdash; +5 de cercanía emocional</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <a [routerLink]="['/medical-view', 7]">
          <img src="assets/images/botica/dialogadol.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a [routerLink]="['/medical-view', 7]">DIALOGADOL</a></h3>
        <p class="price"><del>-4 de resistencia</del> &mdash; +6 de relaciones fortalecidas</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a [routerLink]="['/medical-view', 6]">
          <img src="assets/images/botica/empatiag.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a [routerLink]="['/medical-view', 6]">EMPATIA-G</a></h3>
        <p class="price"><del>-4 de juicios rápidos</del> &mdash; +7 de conexión humana</p>
      </div>

      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a [routerLink]="['/medical-view', 3]">
          <img src="assets/images/botica/Resci.png" alt="Image" class="resized-image">
        </a>
        <h3 class="text-dark"><a [routerLink]="['/medical-view', 3]">RESILIENCIA-PIRINA</a></h3>
        <p class="price"><del>-6 de miedo</del> &mdash; +5 de fortaleza</p>
      </div>
  </div>
</div>
