.mission-section {
  padding: 100px 0;
  background-color: #e7eef7; /* Color de fondo más azulado y claro */
}

.mission-title {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #2e3977; /* Color oscuro azulado para el título */
}

.mission-description {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555; /* Color medio para el texto */
}

.mission-image {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para la imagen */
}
