<div class="container-fluid vision-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-md-6">
        <h2 class="vision-title">Acerca de Nosotros</h2>
        <p class="vision-description">
          RESPETONIC nació de la idea de que cada familia, independientemente de
          su tamaño o estructura, merece herramientas que fomenten el respeto,
          la comprensión y el amor incondicional. Reconocemos que, en la
          vorágine del día a día, las conexiones genuinas pueden debilitarse.
          Por eso, hemos diseñado una serie de 'medicamentos emocionales' que
          actúan como recordatorios y guías, ayudando a las familias a
          reconectarse y comunicarse mejor. Cada producto que ofrecemos es un
          reflejo de nuestra misión: ayudar a cada hogar a convertirse en un
          espacio de apoyo, cariño y entendimiento mutuo. En RESPETONIC, creemos
          en el poder curativo del respeto y en la magia que surge cuando las
          familias se unen.
        </p>
      </div>

      <!-- Columna de imagen -->
      <div class="col-md-6 text-center">
        <img
          src="assets/images/botica/acercade2.jpeg"
          alt="Imagen de Visión"
          class="vision-image"
        />
      </div>
    </div>
  </div>
</div>


<div class="site-blocks-cover inner-page" style="background-image: url('assets/images/hero_1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto align-self-center">
        <div class=" text-center">
          <h1>Nuestro Valores</h1>
          <p>En RESPETONIC, fusionamos valores familiares con bienestar emocional, ofreciendo soluciones únicas para fortalecer y curar las relaciones más preciadas..</p>ˀ
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <img src="assets/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
        </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">


        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Como Empezamos</h2>
        </div>
        <p>RespeTonic nació de una simple observación: en un mundo acelerado, las conexiones familiares genuinas estaban en riesgo. Vimos hogares donde el respeto se desvanecía y la comunicación se estancaba. Determinados a cambiar esto, creamos una solución que combinara tradiciones emocionales con herramientas modernas. Así, RespeTonic no solo se convirtió en una marca, sino en un movimiento para restaurar el respeto en cada familia.</p>

      </div>
    </div>
  </div>
</div>



<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img src="assets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
          </figure>
        </div>
      </div>
      <div class="col-md-5 mr-auto">


        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Somos de confianza</h2>
        </div>
        <p class="text-black">En RespeTonic, la confianza no es solo una palabra; es nuestro pilar fundamental. Desde nuestros inicios, hemos trabajado arduamente para crear soluciones que genuinamente fortalezcan y nutran las relaciones familiares. Nuestro compromiso es brindarte herramientas auténticas, diseñadas con integridad y basadas en valores familiares profundos.</p>

      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck text-primary"></span>
        </div>
        <div class="text">
          <h2>Entrega</h2>
          <p>Comprometidos con tu tiempo y necesidades, aseguramos entregas puntuales y respetuosas. Tu satisfacción es esencial para nosotros.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2 text-primary"></span>
        </div>
        <div class="text">
          <h2>Devoluciones</h2>
          <p>Entendemos y valoramos tus decisiones. Si no estás satisfecho, nuestro proceso de devolución es simple y empático, asegurando siempre tu tranquilidad.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-help text-primary"></span>
        </div>
        <div class="text">
          <h2>Servicio al Cliente</h2>
          <p>Nuestro equipo de atención al cliente está siempre dispuesto a escuchar y comprender tus inquietudes, ofreciéndote soluciones que reflejan nuestro respeto y aprecio por tu elección de confiar en nosotros.</p>
        </div>
      </div>
    </div>
  </div>
</div>

