<div class="container-fluid vision-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-md-6">
        <h2 class="vision-title">Acerca de Nosotros</h2>
        <p class="vision-description">
          RESPETONIC nació de la idea de que cada familia, independientemente de
          su tamaño o estructura, merece herramientas que fomenten el respeto,
          la comprensión y el amor incondicional. Reconocemos que, en la
          vorágine del día a día, las conexiones genuinas pueden debilitarse.
          Por eso, hemos diseñado una serie de 'medicamentos emocionales' que
          actúan como recordatorios y guías, ayudando a las familias a
          reconectarse y comunicarse mejor. Cada producto que ofrecemos es un
          reflejo de nuestra misión: ayudar a cada hogar a convertirse en un
          espacio de apoyo, cariño y entendimiento mutuo. En RESPETONIC, creemos
          en el poder curativo del respeto y en la magia que surge cuando las
          familias se unen.
        </p>
      </div>

      <!-- Columna de imagen -->
      <div class="col-md-6 text-center">
        <img
          src="assets/images/botica/acercade2.jpeg"
          alt="Imagen de Visión"
          class="vision-image"
        />
      </div>
    </div>
  </div>
</div>
