<div class="container-fluid vision-section">
  <div class="container">
      <div class="row align-items-center">

          <!-- Columna de texto -->
          <div class="col-md-6">
              <h2 class="vision-title">Nuestra Visión</h2>
              <p class="vision-description">
                Envisionamos un futuro en el que RespeTonic sirva como un faro, guiando a familias de todos los tamaños y formas hacia relaciones más profundas y significativas. Soñamos con un mundo donde cada conversación, cada gesto y cada momento reflejen el respeto mutuo y el amor incondicional.
              </p>
          </div>

          <!-- Columna de imagen -->
          <div class="col-md-6 text-center">
              <img src="assets/images/botica/vision.jpg" alt="Imagen de Visión" class="vision-image">
          </div>

      </div>
  </div>
</div>
