<div class="site-section">

  <div class="container">
    <div class="row">
      <div class="col-md-5 mr-auto">
        <div class="border text-center">
          <img
            src="{{ this.medicament.url }}"
            alt="Image"
            class="img-fluid p-5"
          />
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{ this.medicament.name }}</h2>
        <p>{{ this.medicament.description }}</p>

        <div *ngFor="let item of medicament.prizes">
          <p>
            <del>{{ item.minus }}</del> -
            <strong class="text-primary h4">{{ item.add }}</strong>
          </p>
        </div>

        <!--div class="mb-5">
          <div class="input-group mb-3" style="max-width: 220px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>

        </div-->
        <p><button class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" (click)="buy()">Comprar</button></p>

        <div class="mt-5">
          <ul
            class="nav nav-pills mb-3 custom-pill"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="pills-home-tab"
                data-toggle="pill"
                href="#pills-home"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                >Informacion</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="pills-profile-tab"
                data-toggle="pill"
                href="#pills-profile"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
                >Especificaciones</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="pills-profile-tab"
                data-toggle="pill"
                href="#pills-esp"
                role="tab"
                aria-controls="pills-esp"
                aria-selected="false"
                >Dosificacion e Indicaciones</a
              >
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <table class="table custom-table">
                <thead>
                  <th>Material</th>
                  <th>Description</th>
                  <th>Packaging</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of medicament.orderingInf">
                    <th scope="row">{{ item.material }}</th>
                    <td>{{ item.description }}</td>
                    <td>{{ item.package }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <table class="table custom-table">
                <tbody *ngFor="let item of medicament.especifications">
                  <tr>
                    <td>{{ item.code }}</td>
                    <td class="bg-light">{{ item.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade show"
              id="pills-esp"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
            <table class="table custom-table">
              <tbody *ngFor="let item of medicament.esp">
                <tr>
                  <td>{{ item.name }}</td>
                  <td class="bg-light">{{ item.value }}</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <!-- Primer botón -->
    <div class="col-12 col-md-6 text-md-left text-center mb-2 mb-md-0">
      <button class="btn btn-primary px-5 py-3" (click)="refreshPage()">Inicio</button>
    </div>

    <!-- Segundo botón -->
    <div class="col-12 col-md-6 text-md-right text-center">
      <a routerLink="/store" class="btn btn-primary px-5 py-3">Tienda</a>
    </div>

  </div>
</div>
