<div
  class="site-blocks-cover"
  style="background-image: url('assets/images/botica/wallpaper.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
        <div class="site-block-cover-content text-center">
          <p>
            <a routerLink="/store" class="btn btn-primary px-5 py-3"
              >Comprar Ahora</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row align-items-stretch section-overlap">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="banner-wrap bg-primary h-100">
          <a href="#" class="h-100">
            <h5>
              Diálogo <br />
              Dinámico
            </h5>
            <p>
              <strong><h4>Escucha activa, comunicación efectiva.</h4></strong>
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="banner-wrap h-100">
          <a href="#" class="h-100">
            <h5>
              Respeto <br />
              Recíproco
            </h5>
            <p>
              <strong
                ><h4>Valoración mutua, entendimiento profundo.</h4></strong
              >
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="banner-wrap bg-warning h-100">
          <a href="#" class="h-100">
            <h5>
              Empatía <br />
              Esencial
            </h5>
            <p>
              <strong><h4>Sentir juntos, conectar genuinamente.</h4></strong>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Productos Populares</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a href="shop-single.html">
          <img
            src="assets/images/botica/abrazofeno.png"
            alt="Image"
            class="resized-image"
          />
        </a>
        <h3 class="text-dark"><a href="shop-single.html">ABRAZOFENO</a></h3>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a href="shop-single.html">
          <img
            src="assets/images/botica/Resci.png"
            alt="Image"
            class="resized-image"
          />
        </a>
        <h3 class="text-dark">
          <a href="shop-single.html">RESCILIENCIA-PIRINA</a>
        </h3>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        <span class="tag">Sale</span>
        <a href="shop-single.html">
          <img
            src="assets/images/botica/dialogadol.png"
            alt="Image"
            class="resized-image"
          />
        </a>
        <h3 class="text-dark"><a href="shop-single.html">Poo Pourri</a></h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a routerLink="/store" class="btn btn-primary px-4 py-3"
          >View All Products</a
        >
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Productos Nuevos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 owl-carousel">
          <div class="text-center item mb-4">
            <a href="shop-single.html">
              <img
                src="assets/images/botica/comunicatex.png"
                alt="Image"
                class="resized-image"
              />
            </a>
            <h3 class="text-dark">
              <a href="shop-single.html">Umcka Cold Care</a>
            </h3>
          </div>

          <div class="text-center item mb-4">
            <a href="shop-single.html">
              <img
                src="assets/images/botica/ecuani.png"
                alt="Image"
                class="resized-image"
              />
            </a>
            <h3 class="text-dark">
              <a href="shop-single.html">Umcka Cold Care</a>
            </h3>
          </div>

          <div class="text-center item mb-4">
            <a href="shop-single.html">
              <img
                src="assets/images/botica/empatiag.png"
                alt="Image"
                class="resized-image"
              />
            </a>
            <h3 class="text-dark">
              <a href="shop-single.html">Umcka Cold Care</a>
            </h3>
          </div>

          <div class="text-center item mb-4">
            <a href="shop-single.html">
              <img
                src="assets/images/botica/abrazofeno.png"
                alt="Image"
                class="resized-image"
              />
            </a>
            <h3 class="text-dark">
              <a href="shop-single.html">Umcka Cold Care</a>
            </h3>
            <p class="price">$120.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Testimonios</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 no-direction owl-carousel">
          <div class="testimony">
            <blockquote>
              <img
                src="assets/images/person_1.jpg"
                alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle"
              />
              <p>
                &ldquo;Cuando comencé a utilizar los productos de RESPETONIC,
                sentí una conexión más fuerte con mi familia. Me ayudaron a
                expresar lo que realmente sentía y a entender a mis padres.
                Ahora, las cenas familiares son mis momentos favoritos del
                día."&rdquo;
              </p>
            </blockquote>

            <p>&mdash; Luis, 19 años</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img
                src="assets/images/person_2.jpg"
                alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle"
              />
              <p>
                &ldquo;Ser padre no viene con un manual de instrucciones, y a
                veces, las emociones pueden ser abrumadoras. Gracias a
                RESPETONIC, he encontrado una manera de acercarme más a mis
                hijos y entender sus necesidades. Hemos construido puentes donde
                antes había muros.&rdquo;
              </p>
            </blockquote>

            <p>&mdash; Miguel, 42 años</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img
                src="assets/images/person_3.jpg"
                alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle"
              />
              <p>
                &ldquo;Con el estrés diario, a veces olvidaba la importancia de
                dedicar tiempo de calidad a mi familia. RESPETONIC me recordó el
                valor de un simple abrazo y de escuchar activamente. Nuestros
                lazos familiares son ahora más fuertes que nunca&rdquo;
              </p>
            </blockquote>

            <p>&mdash; Elena, 38 años</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img
                src="assets/images/person_4.jpg"
                alt="Image"
                class="img-fluid w-25 mb-4 rounded-circle"
              />
              <p>
                &ldquo;Al mudarme por mis estudios, sentía que la distancia con
                mi familia crecía. Pero, con la ayuda de RESPETONIC, aprendí que
                la conexión emocional no entiende de kilómetros. Ahora, cada
                llamada y visita se siente más valiosa y conectada.&rdquo;
              </p>
            </blockquote>

            <p>&mdash; Isabel, 24 años</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="site-section bg-secondary bg-image"
  style="background-image: url('images/bg_2.jpg')"
>
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a
          href="#"
          class="banner-1 h-100 d-flex"
          style="background-image: url('images/bg_1.jpg')"
        >
          <div class="banner-1-inner align-self-center">
            <h2>Comunicación Curativa</h2>
            <p>
              El diálogo genuino cura heridas y fortalece relaciones. En
              RespeTonic, promovemos conversaciones auténticas.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a
          href="#"
          class="banner-1 h-100 d-flex"
          style="background-image: url('images/bg_2.jpg')"
        >
          <div class="banner-1-inner ml-auto align-self-center">
            <h2>Respeto Integral</h2>
            <p>
              Más que palabras, el respeto es actitud. Cultivamos empatía para
              un ambiente donde todos se sientan valorados.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
